*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabeçalho {
    background-color: #424E60;
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}

.cabeçalho-imagem{
    width: 10%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#424E60,#90a6ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola-div-conteudo{
    width: 45%
}

.estudante-imagem{
    width: 220px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 
}